doctype html 
html 
  head 
    title job-management 
    link(rel="stylesheet", href="css/main.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(ng-app="jobManagementApp" layout="column")
    .main(ng-controller="MainCtrl")
      md-toolbar(layout="row")
        .md-toolbar-tools
          md-button(hide-gt-sm class="md-icon-button")
            md-icon(aria-label="Menu" ng-click="toggleSidenav('left')" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg")
          h1 Job management
      .main(layout="row" flex)
        md-sidenav(layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')")
          md-button.md-accent Sales Assistant
          md-button.md-accent Technician
        #content(layout="column" flex)
          md-content(layout="column" flex class="md-padding")
            md-card
              md-card-content
                md-button {{ thing }}
    script(src="js/bundle.js")
