<md-bottom-sheet class="md-list md-has-header" ng-cloak>
  <md-subheader>{{ header }}</md-subheader>
  <div class="bottomSheetContent">
    <form name="newJobForm" novalidate="" ng-submit="createNewJob()">
      <div layout="row" layout-sm="column" layout-wrap >
        <md-input-container flex-gt-sm="30" flex>
          <label>Name</label>
          <input name="name" type="text" ng-model="name" required="">
          <div ng-messages="newJobForm.name.$error" ng-show="newJobForm.$submitted || newJobForm.name.$dirty">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex-gt-sm="40" flex>
          <label>Customer Name</label>
          <input name="customerName" type="text" ng-model="customer.name" required="">
          <div ng-messages="newJobForm.customerName.$error" ng-show="newJobForm.$submitted || newJobForm.customerName.$dirty">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex>
          <label>Entered by (Disabled)</label>
          <input ng-model="createdBy" disabled>
        </md-input-container>
        <md-input-container flex-gt-sm="40" flex>
          <label>Customer Address</label>
          <input name="customerAddress" type="text" ng-model="customer.address">
        </md-input-container>
        <md-input-container flex-gt-sm="30" flex>
          <label>Customer Contact No. 1</label>
          <input name="customerContact1" type="text" ng-model="customer.contact1" required="">
          <div ng-messages="newJobForm.customerContact1.$error" ng-show="newJobForm.$submitted || newJobForm.customerContact1.$dirty">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container flex-gt-sm="30" flex>
          <label>Customer Contact No. 2</label>
          <input name="customerName" type="text" ng-model="customer.contact2">
        </md-input-container>
        <md-input-container flex-gt-sm="40" flex>
          <label>Customer Company Name</label>
          <input name="customerCompanyName" type="text" ng-model="customer.companyName">
        </md-input-container>
        <md-input-container flex-gt-sm="60" flex>
          <label>Customer Email</label>
          <input name="customerEmail" type="text" ng-model="customer.email">
        </md-input-container>
      </div>
      <div layout="row" layout-sm="column">
        <md-input-container class="md-block" flex-gt-sm="100" flex>
          <label>Job Description</label>
          <textarea ng-model="desc" name="desc" columns="1" md-maxlength="150" rows="2" required=""></textarea>
          <div ng-messages="newJobForm.desc.$error" ng-show="newJobForm.$submitted || newJobForm.desc.$dirty">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <button ng-disabled="newJobForm.$invalid ? true : false" type="submit" class="md-button md-raised md-primary" flex>{{ newJobText }}</button>
    </form>
  </div>


</md-bottom-sheet>
