<div layout="column" ng-cloak="">
  <md-content layout-padding="" flex="60">
    <form name="loginForm" novalidate ng-submit="login()">
      <md-input-container class="md-block">
        <label>Email</label>
        <input required="" type="email" name="userEmail" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="loginForm.userEmail.$error" role="alert" ng-show="loginForm.$submitted || loginForm.userEmail.$dirty">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input required="" name="userPassword" type="password" ng-model="user.password" minlength="6">
        <div ng-messages="loginForm.userPassword.$error" role="alert" ng-show="loginForm.$submitted || loginForm.userPassword.$dirty">
          <div ng-message="required">This is required.</div>
          <div ng-message="minlength">Your password must contain more than 6 characters.</div>
        </div>
      </md-input-container>

      <button ng-disabled="loginForm.$valid ? false : true" type="submit" class="md-button md-raised md-primary">{{ loginText }}</button>
    </form>
    <p>Need an account? <md-button class="md-primary" ng-click="gotoRegister()" target="_blank">Sign up!</md-button></p>
  </md-content>
</div>
