<!-- <div layout-align="center center">
  <p>Jobs</p>
</div>
<div layout="row" layout-sm="column" layout-wrap layout-align="center center">
  <md-card flex-gt-md="25" flex-gt-sm="40" flex>
    <md-card-content>
      <h2 class="md-title">Paracosm</h2>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    </md-card-content>
  </md-card>
</div> -->

<md-list>
  <md-subheader class="md-primary">Pending jobs</md-subheader>
  <md-list-item class="md-3-line" ng-repeat="job in jobs">
    <div class="md-list-item-text" layout="column">
      <h3 class="job--name">{{ job.name }}</h3>
      <h4>{{ job.desc }}</h4>
      <p>{{ job.createdBy }}</p>
    </div>
  </md-list-item>
</md-list>
