block vars
doctype html 
html 
  head 
    base(href="/")
    title= title
    link(rel="stylesheet", href="/css/main.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(ng-app="jobManagementApp" layout="column")
    .main
      include partials/toolbar
      .main(layout="row" flex)
        include partials/nav
        #content(layout="column" flex)
          md-content(layout="column" flex class="md-padding")
            md-card
              md-card-content
                //- md-button {{ thing }}
                .content(ng-view="")
                block content
    script(src="/js/bundle.js")
