<!DOCTYPE html>
<html ng-app="jobManagement">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Management</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body layout="column">
    <div ng-include="'templates/partials/toolbar.html'"></div>
    <div layout="row" flex>
      <div ng-if="auth" layout="row"  ng-controller="NavigationController" ng-include="'templates/partials/nav.html'"></div>
      <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding card-container">
          <md-toast ng-show="flash"><span flex>{{ flash }}</span></md-toast>
          <md-card class="content-card">
            <md-card-content ng-view class="content-container"></md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
    <script src="/js/bundle.js" charset="utf-8"></script>
  </body>
</html>
