<md-content layout-padding>
  <h1>Technician summary</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Job #</th>
        <th>Job name</th>
        <th>Customer</th>
        <th>Quote amount</th>
        <th>Appointed by</th>
        <th>Attended by</th>
        <th>Comment</th>
        <th>Job done</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Some job name.</td>
        <td>Customer name</td>
        <td>$199</td>
        <td>tdkjktjh</td>
        <td>Attedne by</td>
        <td>COmment</td>
        <td>
          <md-checkbox aria-label="Job completed" class="job--done"></md-checkbox>
        </td>


      </tr>
    </tbody>
  </table>
</md-content>
