<div layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate" ng-hide="doneLoading" md-diameter="70"></md-progress-circular>
</div>
<md-content layout-padding ng-if="doneLoading">
  <h1>Technician summary</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Job #</th>
        <th>Job name</th>
        <th>Customer</th>
        <th>Quote amount</th>
        <th>Appointed by</th>
        <th>Attended by</th>
        <th>Comment</th>
        <th>Job done</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="job in jobs">
        <th scope="row">{{ job.custom_id }}</th>
        <td>{{ job.name }}</td>
        <td>{{ job.customer.name }}</td>
        <td>{{ job.quoteAmount | currency }}</td>
        <td>{{ job.createdBy }}</td>
        <td>{{ job.attendedBy }}</td>
        <td>{{ job.comment }}</td>
        <td>
          <md-checkbox aria-label="Job completed" ng-model="job.completed" class="job--done"></md-checkbox>
        </td>


      </tr>
    </tbody>
  </table>
</md-content>
