md-toolbar(layout="row")
  .md-toolbar-tools
    md-button(hide-gt-sm class="md-icon-button")
      md-icon(aria-label="Menu" ng-click="toggleSidenav('left')" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg")
    h1 Job management
